<div class="btn-group py-2">
    <a href="admin&managertopicpost" class="btn btn-secondary">Quản Lý danh mục bài viết</a>
</div>
<form action="add&danhmuc" method="POST">
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Tên danh mục</span>
        <input type="text" class="form-control" name="tendanhmuc" id="tendanhmuc" aria-label="Username">
    </div>
    <div class="mb-3 " style="text-align:center">
        <button type="submit" name="sbm" class="btn btn-primary px-5 py-3 ">Thêm</button>
    </div>
</form>