
<div class="btn-group py-2">
    <a href="admin&managertopicpost" class="btn btn-secondary">Quản Lý danh mục bài viết</a>
</div>
<form action="/editdanhmuc/<%= ketqua  %>" method = "POST">
  <% if(locals.danhmuc) { %>
      <div class="input-group mb-3">
        <input type="hidden" name="id" value="<%= danhmuc.id %>">
        <span class="input-group-text" id="basic-addon1">Tên danh mục</span>
       <!--  <input type="text" class="form-control" name="ten_danh_muc"  value="" > -->
       <textarea class="form-control" name="ten_danh_muc" id="content" ><%= danhmuc.ten_danh_muc %></textarea>
       <textarea class="form-control" name="adf" id="sdfa" ><%= ketqua %></textarea>
      </div>
      <div class="mb-3 " style="text-align:center">
        <button type="text" name="sbm" class="btn btn-primary px-5 py-3 " id="sbm" >Cập nhật</button>
      </div>
      <% } %>
    </form>
<script>
  var sbm = document.querySelector('#sbm');
  sbm.onclick= () => {
    let result = confirm("Bạn có chắc chắn cập nhật?");
    if(result == false){
       ketqua= ''  ; 
    }
    else
      ketqua = 'co';
  }
</script>