
<div class="btn-group py-2">
    <a href="admin&managertopicpost" class="btn btn-secondary">Quản Lý danh mục bài viết</a>
</div>
<form action="/editdanhmuc" method = "POST">
  <% if(locals.danhmuc) { %>
      <div class="input-group mb-3">
        <input type="hidden" name="id" value="<%= danhmuc.id %>">
        <span class="input-group-text" id="basic-addon1">Tên danh mục</span>
       <!--  <input type="text" class="form-control" name="ten_danh_muc"  value="" > -->
       <textarea class="form-control" name="ten_danh_muc" id="content" ><%= danhmuc.ten_danh_muc %></textarea>
      </div>
      <div class="mb-3 " style="text-align:center">
        <button type="text" name="sbm" class="btn btn-primary px-5 py-3 " id="sbm" >Cập nhật</button>
        <input type="hidden" name="ketqua" id="ketqua" >
        <script>
          var sbm = document.querySelector('#sbm');
          var inputvalue = document.querySelector('#ketqua');
          sbm.onclick= () => {
            var result = confirm("Bạn có chắc chắn cập nhật?");
           
            if(result === true){
              inputvalue.value = 'hien thi';
            }
            else{
              inputvalue.value = 'khong hien thi';
            }
          }
        </script>
        
      </div>
      <% } %>
    </form>
