
<div class="btn-group py-2">
    
</div>
<form action="/capnhatbaivietmoi" method = "POST">

 
  <div>
      <label for=""Hình ảnh></label><input name="hinhanh" type="file" >
      
  </div>
  <div>
      <label for="">Tiêu đề</label><input type="text" class="form-control" name="tieude">
  </div>
  <div>
      <label for="">Nội dung</label><input type="text" class="form-control" name="noidung">
  </div>
  <div>
      <label for="">Tác giả</label><input type="text" class="form-control" name="tacgia">
  </div>
  <div>
      <label for="">Ngày đăng</label><input type="text" class="form-control" name="ngaydang">
  </div>
  <div>
      <label for="">Trạng thái</label><input type="text" class="form-control" name="trangthai">
  </div>
  <div>
    <label for="">Tên chủ đề </label><input type="text" class="form-control" name="chude">
</div>
  <button type="submit">thêm</button>

</form>
