<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/fontawesome.min.css">
<link rel="stylesheet" href="/stylesheets/animate.css">
<link rel="stylesheet" href="/stylesheets/font.css">
<link rel="stylesheet" href="/stylesheets/li-scroller.css">
<link rel="stylesheet" href="/stylesheets/slick.css">
<link rel="stylesheet" href="/stylesheets/jquery.fancybox.css">
<link rel="stylesheet" href="/stylesheets/theme.css">
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
<style>
  .popup {
  display:none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 1000;
  }
  .popup.show {
    display: block;
  }

  #closeButton {
  float: right;
  cursor: pointer;
  }
  .show{
  display:block;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
</style>
</head>

<body>
  <div id="preloader">
    <div id="status">&nbsp;</div>
  </div>
  <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
  <div class="container">
    <header id="header">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="header_top">
            <div class="header_top_left">
              <ul class="top_nav">
                <li><a href="#">Trang chủ</a></li>
                <li><a href="#"><div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown button
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </div></a></li>
                <li><a href="#" id="contactButton">Liên hệ</a></li>
                  <select id="categoryFilter">
                    <option value="">Tất cả danh mục</option>
                    <% if(locals.danhmuc){ %>
                      <% for(tendanhmuc of danhmuc){%>
                      <option value="<%= tendanhmuc.ten_danh_muc %>"><%= tendanhmuc.ten_danh_muc %></option>
                      <% } %>
                    <% } %>
                  </select>

                <span class="search-container">
                  <span style="text-align:end"> <input type="text" name="timkiem" value=""> </span>
                  <button style="margin-left:-5px"><i class="fas fa-search"></i></button>
                </span>
              </ul>
            </div>
          </div>
        </div>
      </div>