<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/fontawesome.min.css">
<link rel="stylesheet" href="/stylesheets/animate.css">
<link rel="stylesheet" href="/stylesheets/font.css">
<link rel="stylesheet" href="/stylesheets/li-scroller.css">
<link rel="stylesheet" href="/stylesheets/slick.css">
<link rel="stylesheet" href="/stylesheets/jquery.fancybox.css">
<link rel="stylesheet" href="/stylesheets/theme.css">
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
<style>
  .popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1000;
  }

  .popup.show {
    display: block;
  }

  #closeButton {
    float: right;
    cursor: pointer;
  }

  .show {
    display: block;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
</style>
<style>
  .dropdown {
    z-index: 99;
    position: relative;
  }

  .dropdown-content {
    display: none;
    /* Ẩn nội dung menu mặc định */
    position: absolute;
    /* Định vị con */
    background-color: #2c2c2c;
    /* Màu nền */
  }

  .dropdown:hover .dropdown-content {
    display: block;
    /* Hiển thị nội dung menu khi hover */
  }

  .dropdown-content a {
    color: black;
    /* Màu chữ */
    padding: 12px 16px;
    /* Khoảng cách nội dung */
    text-decoration: none;
    /* Loại bỏ gạch chân */

  }

  .dropdown-content a:hover {
    background-color: #f1f1f1;
    /* Màu nền khi hover */
  }

  a {
    color: black;
  }
</style>
</head>

<body>
  <div id="preloader">
    <div id="status">&nbsp;</div>
  </div>
  <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
  <div class="container">
    <header id="header">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="header_top">
            <div class="header_top_left">
              <ul class="top_nav">
                <li><a href="/">Trang chủ</a></li>
                <!-- Ở đay là dropdow
 -->
                <li>
                  <div class="dropdown">
                    <a href="#">Danh mục bài viết</a>
                    <div class="dropdown-content">
                      <% if(locals.danhmuc) {%>
                        <% for(tendanhmuc of danhmuc){%>
                          <a href="/danhsachbaiviet/<%= tendanhmuc.id %>"> <%= tendanhmuc.ten_danh_muc %> </a>
                      <% } %>
                      <% } %>
                    </div>
                  </div>
                </li>
                <li><a href="#" id="contactButton">Liên hệ</a></li>
                <li>
                  <form action="/timkiem" method="get" >
                    <select id="categoryFilter" name="option" >
                      <option value="tatcadanhmuc">Tất cả danh mục</option>
                      <% if(locals.danhmuc){ %>
                        <% for(tendanhmuc of danhmuc){%>
                          <option value="<%- tendanhmuc.ten_danh_muc %>">
                            <%- tendanhmuc.ten_danh_muc %>
                          </option>
                          <% } %>
                            <% } %>
                    </select>
                    <span class="search-container">
                      <span style="text-align:end"> <input type="text" name="keywords"> </span>
                      <button  id="searchButton" style="margin-left:-5px"><i class="fas fa-search"></i></button>
                    </span>
                  </form>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>